<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>EasyWeb后台开发框架</title>

    <!--    iview-css-->
    <link rel="stylesheet" href="/SKYWORTH_Echarts/assets/libs/iview/iview.css"/>

    <!--    iview-icon-->
    <link href="https://cdn.bootcss.com/ionicons/4.0.0-2/css/ionicons.css" rel="stylesheet">

    <!--    layui-css-->
<!--    <link rel="stylesheet" href="/SKYWORTH_Echarts/assets/libs/layui/css/layui.css"/>-->

    <!--    admin-css-->
    <!--    <link rel="stylesheet" href="/SKYWORTH_Echarts/assets/module/admin.css?v=312"/>-->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!--    动态展示当前时间-->
    <script>
        function getDateDemo(){
            //分别获取年、月、日、时、分、秒
            var myDate = new Date();
            var year = myDate.getFullYear();
            var month = myDate.getMonth() + 1;
            var date = myDate.getDate();
            var hours = myDate.getHours();
            var minutes = myDate.getMinutes();
            var seconds = myDate.getSeconds();
            //月份的显示为两位数字如09月
            if(month < 10 ){
                month = "0" + month;
            }
            if(date < 10 ){
                date = "0" + date;
            }
            //时间拼接
            var dateTime = year + "年" + month + "月" + date + "日" + hours + "时" + minutes + "分" + seconds + "秒";
            //document.write(dateTime);//打印当前时间
            var divNode = document.getElementById("time");
            divNode.innerHTML = dateTime;
        }
        window.setInterval("getDateDemo()",1000);//每隔1秒，调用一次getDateDemo()
    </script>
</head>

<body>

<div id="app">
    <template>
        <div style="background:#eee;padding: 10px">
            <Row>
                <i-col span="24">
                    <Card>
                        <div>
                            <Row>
                                <i-col span="3" style="line-height: 30px">
                                    <i-select size="default" v-model="selected" :label-in-value="true"
                                              @on-change="changge">
                                        <i-option v-for="line in line " :value="line.code" :label="line.name">
                                            {{line.name}}
                                        </i-option>
                                    </i-select>
                                </i-col>
                                <i-col span="18" style="text-align: center;color:#000 ;font-size: 27px">
                                    平板厂{{linename}}实时生产信息看板
                                </i-col>
                                <i-col span="3">
                                    <div id="time" style="line-height: 30px"></div>
                                </i-col>
                            </Row>
                        </div>
                    </Card>
                </i-col>
            </Row>
            <Row>
                <i-col span="15">
                    <Card style="margin-top: 5px">
                        <Row>
                            <i-col span="6" style="line-height: 30px">
                                <div style="text-align: center">
                                    <div style="color: rgba(0, 0, 0, .55); font-size: 14px">工单号</div>
                                    <div style="color: rgba(0, 0, 0, .85); font-size: 18px">{{jibenxinxi.id}}</div>
                                </div>
                            </i-col>
                            <i-col span="6" style="line-height: 30px">
                                <div style="text-align: center">
                                    <div style="color: rgba(0, 0, 0, .55); font-size: 14px">机型</div>
                                    <div style="color: rgba(0, 0, 0, .85); font-size: 18px">{{jibenxinxi.maktx}}</div>
                                </div>
                            </i-col>
                            <i-col span="6" style="line-height: 30px">
                                <div style="text-align: center">
                                    <div style="color: rgba(0, 0, 0, .55); font-size: 14px">排产量</div>
                                    <div style="color: rgba(0, 0, 0, .85); font-size: 18px">{{jibenxinxi.gamng}}</div>
                                </div>
                            </i-col>
                            <i-col span="6" style="line-height: 30px">
                                <div style="text-align: center">
                                    <div style="color: rgba(0, 0, 0, .55); font-size: 14px">投入量</div>
                                    <div style="color: rgba(0, 0, 0, .85); font-size: 18px">{{jibenxinxi.tlmng}}</div>
                                </div>
                            </i-col>
                        </Row>
                        <Row style="margin-top: 15px">
                            <i-col span="6" style="line-height: 30px">
                                <div style="text-align: center">
                                    <div style="color: rgba(0, 0, 0, .55); font-size: 14px">产出量</div>
                                    <div style="color: rgba(0, 0, 0, .85); font-size: 18px">{{jibenxinxi.wgmng}}</div>
                                </div>
                            </i-col>
                            <i-col span="6" style="line-height: 30px">
                                <div style="text-align: center">
                                    <div style="color: rgba(0, 0, 0, .55); font-size: 14px">线长</div>
                                    <div style="color: rgba(0, 0, 0, .85); font-size: 18px">{{jibenxinxi.headPerson}}</div>
                                </div>
                            </i-col>
                            <i-col span="6" style="line-height: 30px">
                                <div style="text-align: center">
                                    <div style="color: rgba(0, 0, 0, .55); font-size: 14px">达成率</div>
                                    <div style="color: rgba(0, 0, 0, .85); font-size: 18px">{{jibenxinxi.dachenglv}}
                                    </div>
                                </div>
                            </i-col>
                            <i-col span="6" style="line-height: 30px">
                                <div style="text-align: center">
                                    <div style="color: rgba(0, 0, 0, .55); font-size: 14px">生产日期</div>
                                    <div style="color: rgba(0, 0, 0, .85); font-size: 18px">{{jibenxinxi.createTime}}
                                    </div>
                                </div>
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="24">
                                <div id="hdqkyc" style="width: 100%;height: 260px;"></div>
                            </i-col>
                        </Row>
                    </Card>
                </i-col>
                <i-col span="9">
                    <Row>
                        <i-col span="24">
                            <Card style="margin-top: 5px ; margin-left: 5px"></Card>
                        </i-col>
                        <i-col span="24">
                            <Card style="margin-top: 5px ; margin-left: 5px"></Card>
                        </i-col>
                        <i-col span="24">
                            <Card style="margin-top: 5px ; margin-left: 5px"></Card>
                        </i-col>
                    </Row>
                </i-col>
            </Row>
            <!--<Row>
                <i-col span="12" >
                    <Card style="margin-top: 7px"></Card>
                </i-col>
                <i-col span="12">
                    <Row>
                        <i-col span="24">
                            <Card style="margin-top: 7px; margin-left: 5px"></Card>
                        </i-col>
                        <i-col span="24">
                            <Card style="margin-top: 5px; margin-left: 5px"></Card>
                        </i-col>
                        <i-col span="24">
                            <Card style="margin-top: 5px; margin-left: 5px"></Card>
                        </i-col>
                    </Row>

                </i-col>
            </Row>-->
        </div>
    </template>
</div>

</body>
<!-- js部分 -->
<!--<script type="text/javascript" src="/SKYWORTH_Echarts/assets/libs/layui/layui.js"></script>-->
<script type="text/javascript" src="/SKYWORTH_Echarts/assets/libs/jquery/jquery.js"></script>
<script src="/SKYWORTH_Echarts/assets/libs/vue/vue.js"></script>
<script type="text/javascript" src="/SKYWORTH_Echarts/assets/libs/iview/iview.js"></script>
<script type="text/javascript" src="/SKYWORTH_Echarts/assets/libs/echarts/echarts.js"></script>
<script type="text/javascript" src="/SKYWORTH_Echarts/assets/libs/echarts/echartsTheme.js"></script>
<script type="text/javascript" src="/SKYWORTH_Echarts/assets/js/util.js"></script>

<script>
    // 时间格式化
    function getMyDate(str) {
        str = typeof(str) =="string"? parseInt(str):str; // 判断变量是否为String类型
        var oDate = new Date(str),
            oYear = oDate.getFullYear(),
            oMonth = oDate.getMonth() + 1,
            oDay = oDate.getDate(),
            oHour = oDate.getHours(),
            oMin = oDate.getMinutes(),
            oSen = oDate.getSeconds(),
            /*oTime = oYear +'-'+ addZero(oMonth) +'-'+ addZero(oDay) +' '+ addZero(oHour) +':'+
                addZero(oMin) +':'+addZero(oSen);*/
            oTime = oYear + '-' + addZero(oMonth) + '-' + addZero(oDay);
        return oTime;
    }

    //补零操作
    function addZero(num) {
        if (parseInt(num) < 10) {
            num = '0' + num;
        }
        return num;
    }
</script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            visible: false,
            line: '',
            linename: '',
            jibenxinxi: {
                id:'',maktx:'',gamng:'',tlmng:'',wgmng:'',headPerson:'',dachenglv:'',createTime:''
            },
            selected: '',
        },
        created: function () {
            // 请求线长
            util.requestget('/safe_usercenter/base/getLineByFactoryCode?code=1100', function (e) {
                var line = e.result;
                vm.line = line;
                console.log(e);
            });
        },
        methods: {
            show: function () {
                this.visible = true;
            },
            changge: function (sta) {
                console.log(sta);
                vm.linename = sta.label;
                console.log(sta.label);
                // 请求当前工单的状态和数据
                util.requestget('/mes/kb/getCurrenMesOrderByLineCode?lineCode=1100&mesOrderId=073110200002613601', function (e) {
                    console.log(e);
                    vm.jibenxinxi.id = e.result.view.id;
                    vm.jibenxinxi.maktx = e.result.view.maktx;
                    vm.jibenxinxi.gamng = e.result.view.gamng;
                    vm.jibenxinxi.tlmng = e.result.view.tlmng;
                    vm.jibenxinxi.wgmng = e.result.view.wgmng;
                    vm.jibenxinxi.createTime = getMyDate(e.result.view.createTime);

                })
                // 请求线长
                util.requestget('/safe_usercenter/base/getOrganizeViewByCode?code='+sta.value, function (e) {
                    console.log(e);
                    console.log(e.result.headOfUnitName);
                    vm.jibenxinxi.headPerson = e.result.headOfUnitName;
                });
                // 渲染活动情况预测
                var myCharts = echarts.init(document.getElementById('hdqkyc'), myEchartsTheme);
                var mData = [50, 100, 150, 80, 120, 150, 200, 250, 220, 250, 300, 350, 400, 380, 440, 450, 500, 550, 500];
                var option = {
                    title: {
                        // text: '有望达到预期',
                        subtext: '时段产出',
                        textStyle: {
                            color: '#000'
                        }
                    },
                    tooltip: {
                        trigger: "axis"
                    },
                    xAxis: [{
                        type: "category",
                        boundaryGap: !1,
                        data: ["06:00", "06:30", "07:00", "07:30", "08:00", "08:30", "09:00", "09:30", "10:00", "11:30", "12:00", "12:30", "13:00", "13:30", "14:00", "14:30", "15:00", "15:30", "16:00"]
                    }],
                    yAxis: [{
                        type: "value"
                    }],
                    series: [{
                        name: "电视产出量",
                        type: "line",
                        smooth: !0,
                        itemStyle: {
                            normal: {
                                areaStyle: {
                                    type: "default"
                                }
                            }
                        },
                        data: mData
                    }]
                };
                myCharts.setOption(option);

                // 动态改变图表1数据
                setInterval(function () {
                    for (var i = 0; i < mData.length; i++) {
                        mData[i] += parseInt((Math.random() * 50 - 25));
                        if (mData[i] < 0) {
                            mData[i] = 0;
                        }
                    }
                    myCharts.setOption({
                        series: [{
                            data: mData
                        }]
                    });
                }, 1000);
            }
        }
    })



</script>

</html>